node_modules/
.next/
.env
.env.local
.env.production
*.log
.DS_Store
Thumbs.db
mobile_app/.dart_tool/
mobile_app/.packages
mobile_app/.pub/
mobile_app/build/
mobile_app/android/.gradle/
mobile_app/ios/Pods/
mobile_app/ios/.symlinks/
pos_bridge/node_modules/
scripts/*.js
start-tunnel.ps1
start-tunnel2.ps1

.vercel
